__pycache__/
*.pyc
.env
*.log
data/*.json
!data/.gitkeep
.DS_Store
*.egg-info/
dist/
build/
venv/
.venv/

# Mobile app
mobile-app/node_modules/
mobile-app/www/
mobile-app/android/.gradle/
mobile-app/android/app/build/
mobile-app/android/.idea/
mobile-app/android/local.properties
mobile-app/.idea/
